/*
#juarez
{
	fill: #000099 !important;

}*/

/* Distrito 01 
#janos, #galeana, #izaragoza, #madera, #gfarias
{
	fill: #33cccc !important;
}*/

/*distrito 11 
#praxedis, #aldama,#aserdan
{
	fill: #ffcc66 !important;
}*/


/*path:hover {
fill: #ff8533 !important;
  	
}*/


g:hover 
{
  fill:  rgba(255,178,128,1) !important;

  cursor: pointer;
  	  
}


/*	.info_panel {
  background-color: rgba(255,255,255, .7);
  padding: .3em;
  font-size: .8em;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
}
.info_panel::first-line {
   font-weight: bold;   
}*/

.text{
	fill: black !important;
	font-size: 30 !important;
}

.textch{
	fill: black !important;
	font-size: 15 !important;
}
*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

