path:hover, polyline:hover 
{
  fill: rgba(255,178,128,.9) !important; 	  
}

/*	.info_panel {
  background-color: rgba(255,255,255, .7);
  padding: .3em;
  font-size: .8em;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
}
.info_panel::first-line {
   font-weight: bold;   
}*/


.text{
	fill: black !important;
	font-size: 20 !important;
}
.textch{
	fill: black !important;
	font-size: 13 !important;
}

.textxs{
  fill: black !important;
  font-size: 10 !important;
}

