.dis:hover 
{
  fill:  rgba(255,178,128,1) !important;  
}

/*	.info_panel {
  background-color: rgba(255,255,255, .7);
  padding: .3em;
  font-size: .8em;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
}
.info_panel::first-line {
   font-weight: bold;   
}*/

.textg{
  fill: black !important;
  font-size: 50 !important;
}
.text{
	fill: black !important;
	font-size: 20 !important;
}
.textch{
	fill: black !important;
	font-size: 13 !important;
}

.textxs{
  fill: black !important;
  font-size: 10 !important;
}

.textxg{
  fill: black !important;
  font-size: 80 !important;
}

.textmg{
  fill: black !important;
  font-size: 35 !important;
}
